.github/
.vscode/
.vscode-test/
.vscode-debug/
debug-workspace/
project-example/
out/
src/
scripts/
templates/
dist/capataz*
dist/*.map
tsconfig.json
eslint.config.mjs
esbuild.js
.vscode-test.mjs
debug.log
vsc-extension-quickstart.md
