.vscode/**
.vscode-test/**
.vscode-debug/**
debug-workspace/**
scripts/**
out/**
node_modules/**
src/**
project-example/**
debug.log
.github/**
dist/cli.cjs
dist/capataz*
!templates/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
